Source: otp-ERLANG_VSN
Section: interpreters
Priority: optional
Maintainer: Manuel Rubio <manuel@altenwald.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Homepage: http://erlang.org

Package: otp-ERLANG_VSN
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: erlang
Description: Erlang/OTP
 Erlang/OTP platform, this version is installed in /opt path
 and use update-alternatives and epmd as daemon.
